# Versioning and metadata
.git
.github
.gitignore
.dockerignore
.idea
.vscode
.space

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

vendor
tmp
dist
deploy
bin
tmp_schema

Spacefile
README.md

**/.DS_Store